.main_box {
    padding: 5px 10px;
}

.picture {
    width: 250px;
}

.content_box {
    margin-top: 150px;
    padding: 10px;
    min-height: 800px;
}

.title {
    font-size: 200px;
    font-weight: bold;
}

.btn {
    font-size: large;
    left: 5px;
}

/* div */
.navBtn { 
    width: 25%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: fixed;
}

/* div > div */
.navBtn > div {
    background-color: black;
}

/* buttons */
.navBtn button {
    font-size: small;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 3px;
    padding: 15px 10px;
    margin: 3px;
    color: white;
    background-color: black;
}

/* 맨 위로 올라가기 버튼 */
.GoToTopBtn {
    right:25px;
    bottom:25px;
    position:fixed;
    border:3px solid black;
    background-color:white;
    z-index:99;
    padding: 7px 10px;
    border-radius: 25px;
}