.main_box {
    padding: 5px 10px;
}

.picture {
    width: 250px;
}

.content_box {
    margin-top: 150px;
    padding: 10px;
}

.title {
    font-size: 140px;
    font-weight: bold;
    text-align: center;
}

.btn {
    font-size: large;
    left: 5px;
}