.main_box {
    margin-left: 15%;
    padding: 5px 10px;
}

.picture {
    width: 150px;
}

.content_box {
    display: inline-block;
    padding: 10px;
    height: 750px;
}

.title {
    font-size: 90px;
    font-weight: bold;
}