.navBar {
    position:fixed;
    top:0px;
    width: 97.5%;
    background-color:rgb(245, 245, 245);
    z-index: 1;
}

.navBtn {
    text-align: center;
    border-bottom: thin solid black;
    width: 100%;
}

.navBtn button {
    border: none;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15px 36px;
    background: none;
    color: black;
}