.item_box {
    display: inline-block;
    width: 45%;
    border: thin solid black;
    border-radius: 10px;
    margin: 11px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn {
    margin-top: 5px;
    padding: 7px;
    font-weight: bold;
}

.skill_list {
    list-style: none;
    padding-left: 0;
}

.skill_list > li {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    margin: 0 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.content_box {
    padding: 10px;
    display: inline-block;
}

.images {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

/* image working,, */
.div_box {
    display: inline-block;
    width: 600px;
    height: 500px;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px 1px silver;
}

.div_box img {
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    object-fit:contain;
    box-shadow: 5px 5px 10px 1px silver;
}