/* project main box */
.div_box {
    display: inline-block;
    width: 600px;
    height: 500px;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color:rgb(235, 235, 235);
    box-shadow: 5px 5px 10px 1px silver;
}

/* personal or team */
.per {
    font-size: small;
    color:dimgray;
}

/* project title */
.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 7px;
}

/* Read More Button */
.btn {
    margin-top: 25px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    background-color:red;
    color: white;
}

/* Skill Ul */
.skill_list {
    list-style: none;
    padding-left: 0;
}

/* Skill li */
.skill_list > li {
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    margin: 0 3px;
    padding: 5px;
    border: thin solid black;
    border-radius: 7px;
}

/* project content(without image) */
.content_box {
    padding: 10px;
    display: inline-block;
}

/* project image */
.div_box img {
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    object-fit:contain;
    box-shadow: 3px 3px 5px 1px silver;
}

/* project github url */
.url {
    font-size: small;
}