.item_box {
    background-color: silver;
    border-radius: 10px;
    margin: 11px;
    padding: 10px;
}

.title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn {
    margin-top: 5px;
    padding: 7px;
    font-weight: bold;
}

.skill_list {
    list-style: none;
    padding-left: 0;
}

.skill_list > li {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    margin: 0 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}