.sidebar {
    position: fixed;
    width: 35%;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
    padding: 3px;
    z-index: 99;
}

.sidebar_ul {
    list-style: none;
    padding-left: 0;
}

.sidebar_item {
    display: inline-block;
    font-size: 25px;
    margin: 0 15px;
    font-weight: bold;
}

.sidebar_item:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: yellow;
}